body {
  background-color: #F0F8FF;
  color: #3B444B;
}

h3 {
  text-align: center;
}

#main {
  max-width: 800px;
  height: auto;
  margin: 0 auto;
}

#img-div {

}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#img-caption {
  text-align: center;
  padding-left: 50px;
  font-family: Georgia, sans-serif;
}

#tribute-info {
  font-family: Georgia, sans-serif;
  text-align: justify;
  padding-left: 50px;
  padding-top: 25px;

}

#tribute-link {
  font-family: Georgia, sans-serif;

}

.tribute-link {
  padding-left: 50px;
  font-family: Georgia, sans-serif;
  padding-bottom: 25px;
}

#title {
  font-family: Georgia, sans-serif;
  padding-top: 25px;
  padding-left: 50px;
  text-align: center;
}

img {
  align: center;
  padding-left: 50px;
  padding-top: 25px;
}